<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fitness Evaluator</title>
    <link href="/css/zeppelin.css" rel="stylesheet">
    <link href="/css/zeppelin.min.css" rel="stylesheet">

    <script>
    function validateForm() {
    //Regular expression to check if username contains only alphanumeric characters
    var regex_alphanumeric=/^[a-z0-9]+$/i;
    // Regular expression to ensure that password contains: 
    // 1. Atleast 6 characters and maximum 16 characters.
    // 2. It must contain atleast one number.
    // 3. It must contain atleast one special character.
    var regex_password = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/;
    var x = document.forms["myForm"]["userid"].value;
    var y = document.forms["myForm"]["pwd"].value;
    //Checking if username and password fields are empty
    if(x=="" || y==""){
      alert("Please enter both username and password");
      return false;
    }
    //Checking if username contains only alphanumeric characters 
    else if(!(x.match(regex_alphanumeric))){
      alert("Username must contain only alphanumeric characters");
      return false;
    }
    //Checking if password meet requirements or not
    else if(!(y.match(regex_password))){
      alert("password must contains atleast 6 characters and maximum 16 characters, must contain atleast one number, and must contain atleast one special character.");
      return false;
    }
    return true;
}
    </script>
  </head>

  <body>


    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Fitness Evaluator</h2>
              <p class="intro-text">A Fitness Evaluation Web-app.
                <br>that uses your fitbit data.</p>
                <br><br><br><br>

                <h2>Login</h2>

                <form name="myForm" onsubmit="return validateForm()" action="/login"  method="POST" >
                  <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email"class="form-control" id="email">
                  </div>
                  <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" class="form-control" id="password">
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                  </div>
                  <button type="submit" class="btn btn-default" >Submit</button>
                 
                </form>
            </br>
<form action="/register" method="GET" >
     <button type="submit" class="btn btn-default">Register</button>  
     <button type="submit" class="btn btn-default" formaction="lisOfUsers">List Of Users</button> 
       </form>
                  
                
             
            </div>
          </div>
        </div>
      </div>
    </header>



    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Zeppelin 2017</p>
      </div>
    </footer>
  </body>
</html>
